*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.welcome {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 2px;
}

.start-btn {
  position: relative;
  padding: 8px 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  cursor: pointer;
  border: 2px solid black;
}

.table-area {
  position: relative;
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: black solid 0.2em;
  border-radius: 1em;
  overflow: hidden;
}

.playerOne {
  position: absolute;
  bottom: -2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.card {
  height: 70px;
  width: 50px;
  border: 1px solid black;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  background-color: white;
}

.card.red {
  color: red;
}

.card:hover {
  transform: translateY(-1px);
}

.card:visited {
  position: absolute;
  top: 0;
  background-color: yellow;
}

.botGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.botHand {
  height: 30px;
  width: 27px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.botName {
  position: absolute;
  bottom: -1.5rem;
}

.lastHandPlayed {

}

.intendedHandToPlay {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.intendedHandToPlay .card{
  height: 60px;
  width: 40px;
}